doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Public Square')
    link(href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet')
    link(href='./assets/css/main.css' rel='stylesheet')
    title Public Square | by Orbital Labs

  body
    div(id='root')
    for bundle in bundles
      script(src=bundle) 

